:root {
  --mustard: #F4BC51;
  --maroon: #800022;
  --third: #D96558;
  --4: #AE4E5C;
}

*{
	transition: 0.3s;
	font-family: 'Grandstander', sans-serif;
}

b{
	color: var(--maroon);
}

body{
	margin: 0;
	background: var(--mustard) url(../svg/roads.svg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Grandstander', sans-serif;
	font-weight: 400;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

a{
	text-decoration: none;
	color: inherit;
}

#canvas{
	width: 1366px;
	height: 619px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
/*	background: url(../images/game/roads.png);*/
	background-size: cover;
}

.board{
	margin: auto;
/*	background: red;*/
	left: 50%;
	top: 20px;
	position: relative;
	transform: translate(-50%, 0%) scale(3);
}

.tile:hover{
	fill: var(--mustard);
	cursor: pointer;
}
