:root {
  --mustard: #F4BC51;
  --maroon: #800022;
  --third: #D96558;
  --4: #AE4E5C;
}

*{
	transition: 0.3s;
	font-family: 'Grandstander', sans-serif;
}


body{
	margin: 0;
	background: var(--mustard);
	font-family: 'Grandstander', sans-serif;
	font-weight: 400;
}

a{
	text-decoration: none;
	color: inherit;
}


.nav{
	width: 100%;
}

.nav-pad{
	display: flex;
	padding: 50px;
	justify-content: space-between;
}

.logo img{
	height: 50px;
}

.nav-links{
	display: flex;
}

.nav-link{
	margin: 0 10px;
	font-weight: 700;
/*	height: 10px;*/
	padding: 10px 15px;
	border-radius: 5px;
}

.nav-link-active{
	background: var(--maroon);
	color: var(--mustard);
}

.nav-link:hover{
	background: black;
	color: var(--mustard);
}

.about-title{
	font-size: 34px;
	font-weight: bolder;
	text-align: center;
}

.about-carousel{
	width: 90%;
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
}

.coin2{
	position: absolute;
	left: 5%;
	bottom: 50px;
}

.coin1{
	position: absolute;
	right: 5%;
	bottom: 50px;
}

.about-board{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: url(../images/about-board.png) top center no-repeat;
	height: 161px;
}


.carousel-ctrl{
	font-size: 50px;
	color: var(--maroon);
	font-weight: 700;
	position: absolute;
	margin-top: 50px;
	text-shadow: 2px 2px 0px #fff;
	cursor: pointer;
	z-index: 2;
}

.ctrl-left{
	left: 15%;
}

.ctrl-right{
	text-shadow: -2px 2px 0px #fff;
	right: 15%;
}