:root {
  --mustard: #F4BC51;
  --maroon: #800022;
  --third: #D96558;
  --4: #AE4E5C;
}

*{
	transition: 0.3s;
	font-family: 'Grandstander', sans-serif;
}


body{
	margin: 0;
	background: var(--mustard);
	font-family: 'Grandstander', sans-serif;
	font-weight: 400;
}

::-webkit-scrollbar { width: 8px; } 
::-webkit-scrollbar-track { background: var(--maroon); } 
::-webkit-scrollbar-thumb { background: var(--third);cursor:pointer; } 
::-webkit-scrollbar-thumb:hover { background: #555; } 
::-webkit-scrollbar-button { display: none; }

a{
	text-decoration: none;
	color: inherit;
}


.nav{
	width: 100%;
}

.nav-pad{
	display: flex;
	padding: 50px;
	justify-content: space-between;
}

.logo img{
	height: 50px;
}

.nav-links{
	display: flex;
}

.nav-link{
	margin: 0 10px;
	font-weight: 700;
/*	height: 10px;*/
	padding: 10px 15px;
	border-radius: 5px;
}

.nav-link-active{
	background: var(--maroon);
	color: var(--mustard);
}

.nav-link:hover{
	background: black;
	color: var(--mustard);
}



.left-hero1{
	margin-left:10%;
	margin-top:5%;
	max-width: 60%;
}
.main-logo{
	width: 300px;

}


.main-btn-conteiner {
  display: flex;
  --color-text: #ffffff;
  --color-background: var(--maroon);
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
  margin-top: 20px;
}

.main-btn-content {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.main-btn-content:hover, .main-btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.main-btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.main-btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.main-btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.main-btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.main-btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

.right-hero{
	width: 60%;
	position: absolute;
	right: 0;
	top: 40%;
}


/*ABOUT*/

.about-title{
	font-size: 34px;
	font-weight: bolder;
	text-align: center;
}

.about-carousel{
	width: 90%;
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
}

.coin2{
	position: absolute;
	left: 5%;
	bottom: 50px;
}

.coin1{
	position: absolute;
	right: 5%;
	bottom: 50px;
}

.about-board{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: url(../images/about-board.png) top center no-repeat;
	height: 161px;
}


.carousel-ctrl{
	font-size: 50px;
	color: var(--maroon);
	font-weight: 700;
	position: absolute;
	margin-top: 50px;
	text-shadow: 2px 2px 0px #fff;
	cursor: pointer;
	z-index: 2;
}

.ctrl-left{
	left: 15%;
}

.ctrl-right{
	text-shadow: -2px 2px 0px #fff;
	right: 15%;
}