.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}

.game-btn{
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 35px;
	color: #fff;
	background: #EF820D;
	border:5px solid #fff;
	border-radius: 100%;
	text-align: center;
	position: absolute;
	cursor: pointer;
	transition: 0.3s;
	z-index: 2;
} 

.left-turn{
	top: 50%;
	left: 100px;
	transform: translateY(-50%);
	transition: 0.3s;
	display: none;
}

.right-turn{
	top: 50%;
	right: 100px;
	transform: translateY(-50%);
	display: none;
}

.game-btn:hover{
	background: #d2720c;
	border-color: rgb(255, 255, 255, 0.5);
}

.toggle-3d{
	left: 50%;
	top: 40px;
	transform: translateX(-50%);
	position: absolute;
}

.toggle-hand{
	left: 55%;
	top: 40px;
	transform: translateX(-50%);
	position: absolute;
}

.toggle-settings{
	left: 45%;
	top: 40px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 4;
}

.settings-black{
	width: 100vw;
	height: 100vw;
	z-index: 3;
	position: fixed;
	opacity: 0;
	background: rgb(0, 0, 0, 0.9);
	transition: 0.5s;
	display: none;
}

.pulse {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95) translateX(-50%);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1) translateX(-50%);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95) translateX(-50%);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.dice-back{
	position: fixed;
	z-index: 4;
	width: 100vw;
	height: 100vw;
	display: none;
}

.dice-container {
	display: flex;
	width: 160px;
	height: 90px;
	left: 50%;
	top: 50%;
	margin: auto;
	margin-top: 300px;
/*	background: red;*/
/*	position: relative;*/
/*	transform: translate(-50%,-50%);*/
}

.dice-shadow{
	box-shadow: 0 0 200px 200px rgb(0, 0, 0, 0.5);
	width: 1px;
	height: 1px;
/*	position: absolute;*/
	transform: translate(50vw, 50vh);
}

.dice {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 5px;
	background: #fff;
	border-radius: 10px;
}

.dice-dot {
	--top: 0%;
	--left: 0%;

	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 50%;

	/* Dot Positioning */
	position: absolute;
	top: var(--top);
	left: var(--left);
	transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
	margin-top: 10px;
}