body{
/*	background: #d7595a;*/
/*	font-family: sans-serif;*/
	font-family: 'Grandstander';
	font-weight: 700;
}


input, select{
	padding: 5px;
	font-family: 'Grandstander';
	font-weight: 700;
}

/*DELETE ABOVE*/
/*####################*/


#setup{
	width: 100vw;
	position: absolute;
	height: 100vh;
	left: 0;
	top: 0;
	margin: 0;
	background: #FDE0E0 url(assets/wooden-panel.jpg) top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #000;
	font-family: 'Grandstander';
	font-weight: 700;
	text-transform: none;
	overflow-y: scroll;
}

#setup::-webkit-scrollbar {
    width: 12px;
}

#setup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#setup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #F56666;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.setup-top{
/*	background: red;*/
	text-align: center;
	padding-top: 30px;
	margin-bottom: 50px;
}

.setup-title{
	font-size: 30px;
	text-transform: uppercase;
}

.setup-title-text{
	font-size: 16px;
	color: #800022;
}

.player-input{
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	max-width: 1000px;
	border: 1px solid black;
	padding: 20px;
	justify-content: space-around;
	border-radius: 10px;
	font-size: 18px;
/*	background: #FDE0E0;*/
}

.player-input-title{
	margin-top: 10px;
}

#setup input{
	background: none;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
}

.player-input-color{
	width: 50px;
	height: 20px;
	border-radius: 20px;
	background: red;
	display: inline-block;
	margin-top: 7px;
	margin-left: 20px;
}
.player-input-color-tag{
	width: 0.1px;
	height: 0.1px;
	border: 0;
	padding: 0;
	opacity: 0;
	transform: translateY(30px);

}
.player-input-grp{
	display: flex;
	cursor: pointer;
	border:1px solid black;
	border-radius: 8px;
	padding: 5px 10px 8px 10px;
}

.player-input-grp:hover{
	background: rgb(0, 0, 0, 0.07);
}

.player-input-dropdown{
	display: inline-block;
	background: rgb(255, 255, 255, 0.7);
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 20px;
	height: 30px;
	margin-top: 5px;
}

.player-input-dropdown img{
	width: 15px;
	margin-top: 5px;
}

.input-black{
	width: 100vw;
	height: 100vh;
	background: rgb(0, 0, 0, 0.4);
	position: fixed;
	z-index: 2;
	display: none;
}

.player-mode{
	display: none;
	background: #FDE0E0;
	z-index: 3;
	padding: 10px;
	position: absolute;
	border-radius: 10px;
	transform: translate(222px, 60px);
	width: 220px;
	flex-wrap: wrap;
}

.player-mode-div{
	width: 200px;
	padding: 10px;
	margin-bottom: 0;
}

.player-mode-div:hover{
	background: rgb(0, 0, 0, 0.1);
	border-radius: 10px;
	cursor: pointer;
}

.player-token-img img{
	height: 30px;
/*	background: red;*/
	margin-top: -5px;
}

.player-token-div{
	flex-wrap: wrap;
	transform: translate(402px, 60px);
}
.player-token-div img:hover{
	transform: scale(1.1);
}

.player-token-div img{
	cursor: pointer;
	transition: 0.3s;
}

.setup-buttons{
    margin: auto;
	margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.setup-btn{
    background: #800022;
    color: #fff;
    padding: 10px 40px 10px 50px;
    font-size: 18px;
    font-family: 'Grandstander', sans-serif;
    font-weight: 700;
    display: flex;
    /* max-width: 200px; */
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border:0;
}