body{
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

.die1{
	position: absolute;
	left: 10%;
	bottom: 10%;
	width: 200px;
/*	transform: scale(0.8);*/
}

.die2{
	position: absolute;
	right: 10%;
	margin-top: -300px;
	transform: scale(0.7);
}

.die3{
	position: absolute;
	left: 5%;
	margin-top: -150px;
/*	transform: scale(0.6);*/
	width: 250px;
}

/*NAV AREA*/

.nav{
	width: 100%;
	position: absolute;
	color: #fff;
}

.nav-pad{
	padding: 30px 100px 20px 100px;
	display: flex;
}

.nav-left, .nav-right{
	width: 50%;
}

.nav-pad .nav-right{
	display: flex;
	justify-content: flex-end;
}

.nav-right div{
	width: auto;
	margin: 0 15px;
}

.nav-left a{
	margin-top: -5px;
	display: flex;
}

.nav-left img{
	height: 50px;
}

.nav-left div{
	margin-top: 5px;
	margin-left: 20px;
}

/*END NAV AREA*/




/*SECTION 1*/

.hero-title{
	padding-top: 7%;
	color: #fff;
	text-align: center;
	font-family: 'Grandstander', sans-serif;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.section1{
	padding-top: 50px;
/*	width: 100%;*/
	height: 100vh;
	background: rgba(230, 239, 246, 0.50);
	background: url(../images/hero-bg.png);
	background-size: cover;
}

.section1-pad{
	padding: 80px 20%;
	padding-bottom: 0;
}

.hero-text{
	font-size: 18px;
	max-width: 80%;
	margin: auto;
	margin-top: 10px;
	color: #DAD7D7;
	line-height: 150%;
}

.splash-buttons{
	display:flex;
	justify-content: center;
	margin-top: 20px;
}

.play-btn{
	background: #800022;
	color: #fff;
	padding: 10px 40px 10px 50px;
	font-size: 18px;
	font-family: 'Grandstander', sans-serif;
	font-weight: 700;
	display: flex;
	margin-right: 20px;
/*	max-width: 200px;*/
	justify-content: center;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.play-btn:hover{
	background: #FD8E4D;
	color: #fff;
	box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
}

.play-btn-txt{
	line-height: 30px;
}

.play-btn-i{
	font-size: 30px;
	line-height: 15px;
/*	margin-top: 5px;*/
/*		background: red;*/
}

.about-btn{
	background: none;
	border: 2px solid #fff;
	padding-top: 8px;
	padding-bottom: 8px;
}


/*END SECTION 1*/


/*START SECTION 2*/
.section2{
	display: flex;
	padding-top: 70px;
	background: rgb(230,221,226);
	background: linear-gradient(90deg, rgba(230,221,226,1) 20%, rgba(255,255,255,1) 60%);
}

.section2-left, .section2-right{
	width: 50%;
	position: relative;
}

.section2-right-pad{
	padding: 100px 50px;
}

.section2-title{
	font-family: 'Grandstander', sans-serif;
	font-size: 35px;
	color: #800022;
	font-weight: bolder;
}

.section2-text{
	margin-top: 30px;
	color: #303030;
	font-family: 'Inter', sans-serif;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 400px;
}

.section2-img1{
	background: url(../images/zone.png) center bottom no-repeat;
	background-size: contain;
	height: 100vh;
	position: relative;
/*	width: 400px;*/
}

.gradient-rect{
	width: 55%;
	height: 70vh;
	position: absolute;
	background: linear-gradient(90deg, #e97f69 10%, #520647 100%);
	border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	left: 15%;
	margin-top: 10px;
}

.about-btn2{
	padding: 10px 30px;
	background: none;
	border: 1px solid #000;
	max-width: 150px;
	color: black;
	margin-top: 20px;
	font-size: 14px;
}

.about-btn2:hover{
	background: #800022;
	border-color: #800022;
	box-shadow: 0 0 10px #800022;
}

.diamond1{
	width: 50px;
	margin-top: 45px;
	margin-left: 15px;
	opacity: 0.7;
}

.spline-globe1{
	position: absolute;
	right: 0px;
	width: 100px;
}

/*END SECTION 2 - */




/*START SECTION 3*/
.section3{
	background: url(../images/section3.png) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 30vh 10%;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #fff;
}

.section3-text{
	margin: auto;
	max-width: 600px;
}

.section3-text1{
	font-family: 'Grandstander', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}

.section3-text2{
	font-weight: lighter;
	line-height: 120%;
}

.btn3{
	padding: 10px 30px;
}



/*START SECTION 4*/

.gamers{
	width: 65%;
	height: 70vh;
	background: #e97f69 url(../images/gamers.png) center no-repeat;
	background-size: cover;
	position: absolute;
	right: 10%;
	margin-top: 50px;
}

.spline-donut{
	position: absolute;
	right: 35%;
	width: 180px;
	margin-top: 60vh;
}

.gradient-rect2{
	height: 350px;
}

.section4-title{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 60px;
}

.spline-globe2{
	position: absolute;
	right: 10%;
	z-index: 2;
	width: 150px;
}



/**/
/*START SECTION 5*/
.section5{
	background: url(../images/section5.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.section5-text{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	padding: 40vh 0;
	font-size: 60px;
	text-align: center;
	max-width: 1000px;
	margin: auto;
}

.join-btn{
	color: #fff;
	border: 1px solid #fff;
	max-width: 180px;
	font-size: 14px;
	margin: auto;
	margin-top: 20px;
	background: none;
	cursor: pointer;
	transition: 0.33;
}.join-btn:hover{
	background: rgb(0, 0, 0, 0.6);
}



/**/
/*FOOTER*/
.footer{
	padding: 60px 5% 0 5%;
	display: flex;
	justify-content: space-between;
}

.gradient-ellipse{
	position: absolute;
	right:0;
	margin-top: -755px;
	float: right;
	pointer-events: none;
}

.footer-left{
	display: flex;
}
.footer-left div{
	margin-right: 20px;
	color: #9F9F9F;
	font-size: 14px;
}




/*#####################################*/
/*#####################################*/
/*#####################################*/
/*#####################################*/
/*RESPONSIVE*/


@media only screen and (max-width: 1300px) {

.section1-pad{
	padding: 80px 10%;
}


.die1{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: -40px;
}


}

@media only screen and (max-width: 1000px) {


.hero-title{
	font-size: 50px;
}

}


@media only screen and (max-width: 900px) {

.section5-title{
	font-size: 30px;
	padding-top: 40px;
}

.nav-pad{
	padding: 30px 20px;
	justify-content: space-between;
}

.nav-left{
	width: 150px;
/*	background: red;*/
}

.nav-right{
	width: auto;
	font-size: 12px;
	margin-top: 20px;
}
.section5-text{
	font-size: 40px;
	max-width: 80%;
}

}


@media only screen and (max-width: 800px) {
.section1{
	width: 100%;
}

.section1-pad{
	padding: 50px 3%;
	display: block;
}

}


@media only screen and (max-width: 700px) {

.section2-title{
	font-size: 24px;
}

}


@media only screen and (max-width: 600px) {

.nav-pad{
	padding: 30px 5% 20px 5%;
}


.hero-title{
	padding-top: 20%;
	font-size: 30px;
}

.play-btn{
	line-height: 100%;
	padding: 10px 20px;
	font-size: 16px;
}

.about-btn{
	padding-top: 8px;
	padding-bottom: 8px;
}

.section2-left{
	display: none;
}

.section2-right, .section2-text{
	width: 100%;
	max-width: 100%;
}

.spline-donut{
	right: 5%;
	width: 120px;
	margin-top: 40vh;
}

.die3{
/*	margin-left: -100px;	*/
/*	transform: scale(0.4);*/
}


}


@media only screen and (max-width: 500px) {


.die1{
/*	transform: scale(0.5);*/
	margin-bottom: -50px;
	left: -50px;
}


.spline-donut{
	margin-top: 60vh;
}

}



@media only screen and (max-width: 400px) {


.section5-text{
	font-size: 30px;
}

.nav-left{
	width: 100px;
}

.nav-left img{
	height: 30px;
	margin-top: 20px;
}

.sm-btn{
	font-size: 16px;
/*	max-width: 100px;*/
	padding: 10px 15px;
}

.about-btn{
	padding-top: 8px;
	padding-bottom: 8px;
}

.sm-btn .play-btn-i{
	font-size: 20px;
	margin-top: 4px;
	line-height: 100%;
}

}